/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: #fff;
    color: #60606e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
/* icons */

.icon {
    font-family: 'fontello';
    font-style: normal;
}
.icon--medium {
    font-size: 30px;
}
/* positions and sizes box */

.box--left {
    float: left;
}
.box--right {
    float: right;
}
.box--equal {
    width: 50%;
}
.box--xsmall {
    width: 25%;
}
.box--xlarge {
    width: 75%;
}
.box--small {
    width: 40%;
}
.box--large {
    width: 60%;
}
.sec__inner {
    width: 100%;
    margin: 0 auto;
}
/* info boxes */

.info-box {
    padding: 0;
}
/* links */

.link-default {
    display: block;
    width: 160px;
    height: 50px;
    padding: 16px;
    text-align: center;
    color: #fff;
    background: #7beec7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.link-default:hover {
    transition: all 1s ease-in;
    background: #1ab07d;
}
.link-default--alt {
    display: block;
    width: 160px;
    height: 50px;
    padding: 16px;
    text-align: center;
    color: #7beec7;
    background: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.link-default--alt:hover {
    transition: all 1s ease-in;
    color: #fff;
    background: #1ab07d;
}
.link-default--right {
    float: right;
}
/* images */

.img-left {
    float: left;
}
.img-right {
    float: right;
}
/* Header
   ========================================================================== */

.sec--head {
    position: absolute;
    margin-top: 35px;
    top: 0;
    right: 0;
    left: 0;
}
.sec--head .sec__inner {
    width: 1140px;
}
.sec--head .sec__inner:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
.sec--head .box--main,
.sec--head .box--nav {
    position: relative;
    z-index: 100;
}
.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #60606e;
}
.logo:link {
    text-decoration: none;
}
/* Main
   ========================================================================== */
/* hero */

.sec__hero {
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 845px;
    margin-bottom: 230px;
    background-color: #60606e;
    background-image: url('../img/hero.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec__hero .sec__inner {
    width: 1140px;
}
.header-box {
    margin: 0 auto;
    width: 50%;
    padding-top: 200px;
    padding-bottom: 115px;
    text-align: center;
}
.title-up {
    width: 100px;
    margin: 0 auto;
    padding: 8px 8px 0 8px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background: #7beec7;
}
.title {
    margin: 0;
    padding: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    border: 12px solid #60606e;
}
.subtitle {
    margin: 20px 0;
    line-height: 24px;
    font-size: 16px;
}
/* history of agency */

.decoration-title {
    position: absolute;
    z-index: -1;
    margin-top: 22px;
    width: 68px;
    height: 20px;
    background: #7beec7;
}
.section-title {
    text-align: center;
}
.box__title {
    position: relative;
    margin: 12px auto;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    display: inline-block;
}
.box__title--alt {
    text-align: left;
}
.box__content {
    margin: 0 0 100px 0;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}
.box__content--alt {
    margin: 0 0 44px 0;
    text-align: left;
    font-size: 16px;
}
/* section why choose us */

.sec--features .sec__inner {
    width: 1140px;
}
.sec--features .sec__inner:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
.features-box {
    width: calc((100% - 60px)/2);
    float: left;
    margin-right: 30px;
    padding: 12px 0 18px 0;
    box-sizing: border-box;
    text-align: left;
}
.features-box__title {
    margin: 10px 0 14px 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #60606e;
}
.reasons-list {
    padding-left: 0;
    list-style-type: none;
    line-height: 30px;
    text-transform: uppercase;
    color: #999;
}
/* section portfolio */

.sec--portfolio {
    margin-top: 150px;
}
.sec--portfolio .sec__inner {
    width: 1140px;
}
.sec--portfolio .sec__inner:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
.categories-list {
    padding: 0;
    list-style-type: none;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #60606e;
}
.categories-list__item {
    padding-left: 20px;
}
.categories-list__item:first-child {
    padding-left: 0;
}
.categories-list__item a {
    color: #000;
    text-decoration: none;
}
.categories-list__item a:hover {
    color: #000;
    text-decoration: underline;
}
.all-categories a {
    padding: 4px 20px;
    background: #7beec7;
    color: #fff;
}
.all-categories a:hover {
    color: #fff;
    text-decoration: none;
}
.masonry {
    column-count: 3;
    column-gap: 1em;
}
.item {
    background: #fff;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}
/* section newsletter */

.sec--newsletter {
    margin-top: 150px;
    padding: 50px 0;
    background: #7beec7;
}
.sec--newsletter .sec__inner {
    width: 1140px;
}
.sec--newsletter .sec__inner:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
.sec--newsletter .box__title {
    color: #fff;
}
.newsletter-box {
    padding: 20px 26px;
    margin: 12px;
    background: #fff;
}
.newsletter-form {
    position: relative;
    padding: 0 0 30px 0;
    line-height: 24px;
}
.newsletter-input {
    width: 360px;
    height: 50px;
    padding: 2px 20px;
    border: 1px solid #e5e5e5;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #cdcdcd;
    outline: none;
}
.newsletter-submit {
    display: inline;
    position: absolute;
    width: 133px;
    height: 50px;
    background: #7beec7;
    border: none;
    font-family: 'Montserrat' sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.newsletter-submit:hover {
    transition: all 1s ease-in;
    background: #089163;
}
.link-default:hover {
    transition: all 1s ease-in;
    background: #089163;
}
.newsletter-box .box__title--newsletter {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 36px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #60606e;
}
.newsletter-box .box__content--alt {
    margin: 10px 0 30px 0;
    line-height: 24px;
}
/* Footer
   ========================================================================== */

.sec--footer .sec__inner {
    padding: 36px 0;
    width: 1140px;
}
.sec--footer .sec__inner:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
.map-list {
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    color: #9a9a9a;
}
.map-list__item {
    padding-right: 12px;
    display: inline;
}
.map-list__item:last-child {
    padding-right: 0;
}
.map-list__item:last-child:after {
    content: '';
    height: 0;
    clear: both;
}
.map-list__item:after {
    padding-left: 12px;
    content: '-';
    height: 0;
    clear: both;
}
.map-list__item a {
    color: #9a9a9a;
    text-decoration: none;
}
.map-list__item a:hover {
    color: #7beec7;
}
.copyright {
    margin-bottom: 20px;
    text-align: right;
    text-transform: uppercase;
    color: #9a9a9a;
}
.social-list {
    display: block;
    padding: 0;
    text-align: right;
}
.social-list ul {
    list-style: none;
}
.social-list li {
    display: inline-block;
}
.social-list__item {
    margin-left: 16px;
    display: inline;
    text-transform: uppercase;
    color: #9a9a9a;
    font-size: 18px;
    transition: 2s;
}
.social-list__item a {
    color: #989898;
}
.social-list__item a:hover {
    color: #7beec7;
}
.social-list__item:hover {
    transform: rotateY(360deg);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}